@model System.Collections.Generic.List<AspNetMvcNorthwind.Entities.Product>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h2>Product Details</h2>

<div class="col-md-9">
    @Html.ActionLink("Create New", "CreateNew")
    <table class="table table-sm">
        <thead>
            <tr>
                <td>Product Id</td>
                <td>Product Name</td>
                <td>Unit Price</td>
                <td>Unit In Stock</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { productId = product.ProductID })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { productId = product.ProductID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>